body {
    background-color: mediumseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    background-color: #333333;
    color: #eeeeee;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container {
    background-color: #eeeeee;
    border: solid;
    color: #333333;
    width: 40vw;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 30vh;
    margin: 0 auto;
    padding: 0 0;
    border: solid;
    color: #333333;
}
.imgHeader {
    text-align: center;
}